In [2]:
import pandas as pd
import numpy as np
# from prettytable import PrettyTable
from typing import List

In [ ]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    table = pd.DataFrame(student_data, columns = ["student_id", "age"])
    pretty_table = PrettyTable()
    pretty_table.field_names = table.columns.tolist()
    for row in table.values:
        pretty_table.add_row(row)
    return pretty_table

In [47]:
a = [[1,15],[2,11],[3,11],[4,20]]
b = pd.DataFrame(a, columns = ["student_id", "age"])
print(list(b.shape))

[4, 2]

In [2]:
data = {
        'student_id': ['101', '102', '103'],
        'name': ['Alice', 'Bob', 'Charlie'],
        'age': [20, 21, 22]}
students = pd.DataFrame(data)
students.loc[students['student_id'] == '101', ['name', 'age']].sort_values()
students.iloc[1]

student_id    102
name          Bob
age            21
Name: 1, dtype: object

In [59]:
students.query("student_id == '101'")

  student_id   name  age
0        101  Alice   20

In [65]:
students["bonus"] = students['age'] * 2
# students.insert(1, "bonus", students["age"]*2 ) возврщает нан
# students.drop(columns=["фыва"], inplace=True ) изменяет исзодную
students.assign(bonus=students['age'] * 2)

  student_id     name  age  bonus
0        101    Alice   20     40
1        102      Bob   21     42
2        103  Charlie   22     44

In [1]:
data = {
    'name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'age': [25, 30, 25, 35, 30]
}
df = pd.DataFrame(data)
df_unique = df.drop_duplicates(subset='name')
df_grouped = df.groupby('name').first().reset_index()
df_no_duplicates = df[~df['name'].duplicated()]

NameError: name 'pd' is not defined

In [ ]:
df_dropped = df.drop(index=1)
df_filtered = df[df['name'] != 'Bob']
df_query = df.query("name != 'Bob'")
df_replaced = df.replace({'name': 'Bob'}, np.nan)
df_unique = df[df['name'] == 'Alice'].drop_duplicates()

In [ ]:
df_dropped = df.dropna()
df_dropped_name = df.dropna(subset=['name'])
df_dropped_columns = df.dropna(axis=1)
df_thresh = df.dropna(thresh=2)
df_filtered = df[~(df['age'].isna() & df['name'].notna())]

In [ ]:
df_renamed = df.rename(columns={'name': 'full_name', 'age': 'years'})
df.columns = ['full_name', 'years']
df = df.set_axis(['full_name', 'years'], axis=1, inplace=False)
# Если вы хотите добавить префикс или суффикс ко всем именам столбцов, 
# вы можете использовать методы add_prefix() и add_suffix().
df_suffixed = df.add_suffix('_data')

In [ ]:
students = students.assign(grade=pd.to_numeric(students['grade'], errors='coerce'))
students.convert_dtypes()
students['grade'] = students['grade'].astype('Int64')

In [73]:
# замена пустых значений в столбце 'grade' на 0
students['grade'] = students['grade'].fillna(0)
students = students.fillna({'grade': 0, 'age': students['age'].mean()})

In [ ]:
# Конкатенация по строкам
result = pd.concat([df1, df2], ignore_index=True)
# Конкатенация по столбцам
result = pd.concat([df1, df2], axis=1)

In [ ]:
data = {
    'Месяц': ['Январь', 'Январь', 'Февраль', 'Февраль', 'Март', 'Март'],
    'Город': ['Нью-Йорк', 'Лос-Анджелес', 'Нью-Йорк', 'Лос-Анджелес', 'Нью-Йорк', 'Лос-Анджелес'],
    'Температура': [30, 60, 32, 65, 45, 68]
}
df = pd.DataFrame(data)
print(df)

Исходный DataFrame:
     Месяц         Город  Температура
0   Январь      Нью-Йорк           30
1   Январь  Лос-Анджелес           60
2  Февраль      Нью-Йорк           32
3  Февраль  Лос-Анджелес           65
4     Март      Нью-Йорк           45
5     Март  Лос-Анджелес           68

In [5]:
pivoted_df = df.pivot(index='Месяц', columns='Город', values='Температура')
print(pivoted_df)

Преобразованный DataFrame:
Город    Лос-Анджелес  Нью-Йорк
Месяц
Март               68        45
Февраль            65        32
Январь             60        30

In [7]:
data = {
    'product': ['Umbrella', 'SleepingBag'],
    'quarter_1': [417, 800],
    'quarter_2': [224, 936],
    'quarter_3': [379, 93],
    'quarter_4': [611, 875]
}

df = pd.DataFrame(data)
reshaped_df = df.melt(id_vars=['product'], var_name='quarter', value_name='sales')
print(df)

print(reshaped_df)

       product  quarter_1  quarter_2  quarter_3  quarter_4
0     Umbrella        417        224        379        611
1  SleepingBag        800        936         93        875
       product    quarter  sales
0     Umbrella  quarter_1    417
1  SleepingBag  quarter_1    800
2     Umbrella  quarter_2    224
3  SleepingBag  quarter_2    936
4     Umbrella  quarter_3    379
5  SleepingBag  quarter_3     93
6     Umbrella  quarter_4    611
7  SleepingBag  quarter_4    875

In [ ]:
def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    sorted_heavy_animals = animals.sort_values(by='weight', ascending=False)
    a = sorted_heavy_animals.loc[animals['weight'] > 100, 'name']
    result_df = pd.DataFrame(a).reset_index(drop=True)
    return result_df

In [ ]:
def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    heavy_animals = animals[animals['weight'] > 100]
    sorted_heavy_animals = heavy_animals.sort_values(by='weight', ascending=False)
    result_df = sorted_heavy_animals[['name']].reset_index(drop=True)
    
    return result_df

In [ ]:
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    filtered_countries = world.loc[
        (world['area'] >= 3000000) & | (world['population'] >= 25000000),
        ['name', 'population', 'area']
    ]
    return filtered_countries

In [ ]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customer_ids_with_orders = orders['customerId'].unique()
    a = customers[~customers['id'].isin(customer_ids_with_orders)]
    return pd.DataFrame(a['name'].rename('Customers'))

In [ ]:

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    a = views.loc[views['author_id'] == views['viewer_id'], 'author_id'].rename('id')
    return a.to_frame().sort_values(by='id', ascending=True).drop_duplicates(subset='id')

In [ ]:

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets.loc[tweets['content'].apply(lambda x: len(x) > 15), ['tweet_id']]

In [ ]:
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    cond = (employees['employee_id'] %2 != 0) & (~employees['name'].str.startswith('M'))
    employees['bonus'] = employees['salary'].where(cond, 0)
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id', ascending=True)

In [ ]:
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].apply(lambda x: x.capitalize())
    return users.sort_values(by='user_id', ascending=True)

'Asdf asf asdf'

#REgula set

In [3]:
def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    pattern = r'^[a-zA-Z][a-zA-Z0-9._-]*@leetcode\.com$'
    users_v = users[users['mail'].apply(lambda x: re.match(pattern, x) is not None)]
    return users_v

In [ ]:
def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    pattern =  r'(^|\s)DIAB1'
    patients_v = patients[patients['conditions'].apply(lambda x: re.search(pattern, x) is not None)]
    return patients_v